<a href="https://colab.research.google.com/github/7h310v3/Baitap/blob/main/Pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1: Tạo các Series với kích thước 1x10 thỏa mãn yêu cầu:
- Series 1: có tên là “Họ và tên” và dữ liệu (định tính) do bạn tự nhập vào
- Series 2: có tên là “Ngày sinh” & dữ liệu do bạn tự nhập vào
- Series 3: có tên là “Tiền công/h” có dữ liệu định lượng do bạn tự nhập
- Series 4: có tên là “Số h công” có dữ liệu định lượng do bạn tự nhập
- Series 5: có tên là “Thực lĩnh” có kích thước 1x10 và để trống

Hãy:
- Tạo 1 dataframe bằng cách ghép các series trên lại với nhau
- Hãy tính giá trị cho cột (column) “Thực lĩnh” theo công thức:
Thực lĩnh = “Số h công” x “Tiền công/h”

- Hãy in toàn bộ dataframe ở trên ra màn hình

In [1]:
import pandas as pd
import string
import random

ho = ["Đặng", "Lê", "Thái", "Nguyễn"]
dem = ["Nhật", "Thị", "Trọng", "Tâm"]
ten = ["Minh ", "Quân", "Xuân", "Thanh"]
ns = ["22/02/2002", "19/02/2002", "26/03/2002", "09/09/2002", "08/02/2002", "08/02/2003", "30/09/2002", "23/7/2002", "24/09/2003","09/06/2003"]

hvt = [random.choice(ho)+" "+random.choice(dem)+" "+random.choice(ten) for i in range(10)]
tch = [random.randint(10000, 20000) for i in range(10)]
h = [random.randint(1, 10) for i in range(10)]

In [2]:
sr1 = pd.Series(hvt)
sr2 = pd.Series(ns)
sr3 = pd.Series(tch)
sr4 = pd.Series(h)
thuc_linh = [sr3[i]*sr4[i] for i in range(10)]
sr5 = pd.Series(thuc_linh)

data = {
    "Họ và tên":sr1,
    "Ngày sinh":sr2,
    "Tiền công 1 giờ": sr3,
    "Số giờ công": sr4,
    "Thực lĩnh": sr5
}
df = pd.DataFrame(data)
df

           Họ và tên   Ngày sinh  Tiền công 1 giờ  Số giờ công  Thực lĩnh
0      Đặng Tâm Xuân  22/02/2002            11536            8      92288
1       Lê Tâm Thanh  19/02/2002            16327            1      16327
2    Nguyễn Thị Quân  26/03/2002            12567            7      87969
3     Đặng Tâm Thanh  09/09/2002            17099            6     102594
4    Nguyễn Thị Quân  08/02/2002            12817            4      51268
5       Lê Tâm Thanh  08/02/2003            12947           10     129470
6    Thái Trọng Xuân  30/09/2002            17916            4      71664
7   Nguyễn Thị Thanh   23/7/2002            14588            4      58352
8        Lê Thị Quân  24/09/2003            18750            4      75000
9  Nguyễn Trọng Xuân  09/06/2003            13420            5      67100


Câu 2: Khởi tạo dataframe bằng các phương pháp khác nhau, hãy:
- Tạo dataframe có kích thước 10x3 từ cấu trúc list tương ứng, với dữ liệu cho dataframe
này gồm các cột Họ tên, Tuổi và Giới tính. Xuất kết quả ra màn hình;

In [3]:
tuoi = [random.randint(18, 30) for i in range(10)]
gt = [random.choice(["Nam", "Nữ"]) for i in range(10)]

data = {
    "Họ tên": hvt,
    "Tuổi": tuoi,
    "Giới tính": gt
}

df = pd.DataFrame(data)
df

              Họ tên  Tuổi Giới tính
0      Đặng Tâm Xuân    25        Nữ
1       Lê Tâm Thanh    23        Nữ
2    Nguyễn Thị Quân    18        Nữ
3     Đặng Tâm Thanh    26       Nam
4    Nguyễn Thị Quân    26        Nữ
5       Lê Tâm Thanh    29       Nam
6    Thái Trọng Xuân    18        Nữ
7   Nguyễn Thị Thanh    18       Nam
8        Lê Thị Quân    21        Nữ
9  Nguyễn Trọng Xuân    24        Nữ

- Tạo dataframe như trên nhưng từ cấu trúc Dictionary có chứa các List giá trị tương ứng với key. Xuất kết quả ra màn hình

In [4]:
hoa = ["hồng", "mai", "cúc", "vạn thọ", "sen", "bông giấy"]
qua = ["mận", "lê", "đào", "táo", "sầu riêng", "dừa"]

data = {
    "Hoa": hoa,
    "Quả": qua
}

df = pd.DataFrame(data)
df

         Hoa        Quả
0       hồng        mận
1        mai         lê
2        cúc        đào
3    vạn thọ        táo
4        sen  sầu riêng
5  bông giấy        dừa

- Tạo dataframe như trên nhưng từ cấu trúc List của các dictionary. Xuất kết quả ra màn hình;

In [5]:
df = pd.DataFrame(data.values())
df

      0    1    2        3          4          5
0  hồng  mai  cúc  vạn thọ        sen  bông giấy
1   mận   lê  đào      táo  sầu riêng        dừa

- Tạo 3 list (1x10) tương ứng với Họ tên, Tuổi và Giới tính. Sử dụng hàm zip() để tạo dataframe từ 3 list riêng biệt này. Xuất kết quả ra màn hình.

In [6]:
df = pd.DataFrame(zip(hvt, tuoi, gt))
df

                   0   1    2
0      Đặng Tâm Xuân  25   Nữ
1       Lê Tâm Thanh  23   Nữ
2    Nguyễn Thị Quân  18   Nữ
3     Đặng Tâm Thanh  26  Nam
4    Nguyễn Thị Quân  26   Nữ
5       Lê Tâm Thanh  29  Nam
6    Thái Trọng Xuân  18   Nữ
7   Nguyễn Thị Thanh  18  Nam
8        Lê Thị Quân  21   Nữ
9  Nguyễn Trọng Xuân  24   Nữ